@{
    ViewData["Title"] = "Sign In";
}

<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0 min-vh-100">
        <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
            <!-- Card -->
            <div class="card smooth-shadow-md">
                <!-- Card body -->
                <div class="card-body p-6">
                    <div class="mb-4">
                        <a href="#"><img src="~/lib/dash-ui/images/brand/logo/mmf-icon-primary.svg" class="mb-2" alt=""></a>
                        <p class="mb-6">請輸入您的資訊</p>
                    </div>
                    <!-- Form -->
                    <v-form v-slot="{ values, errors}" v-on:submit="SignIn">
                        <!-- Username  -->
                        <div class="mb-3">
                            <label for="account" class="form-label">Account</label>
                            <v-field type="text" id="account" class="p-inputtext p-component form-control" name="帳號" placeholder="請輸入帳號"
                                     v-model.trim="signinViewModel.userId" rules="required" v-bind:class="[{'is-invalid':errors['帳號']||modelStateError['userId']}]"></v-field>
                            <error-message name="帳號" class="invalid-feedback"></error-message>
                            <server-error-message v-bind:attr="'userId'"></server-error-message>
                        </div>
                        <!-- Password -->
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <v-field type="password" id="password" class="p-inputtext p-component form-control" name="密碼" placeholder="請輸入密碼"
                                     v-model.trim="signinViewModel.userKey" rules="required" v-bind:class="[{'is-invalid':errors['密碼']||modelStateError['userKey']}]"></v-field>
                            <error-message name="密碼" class="invalid-feedback"></error-message>
                            <server-error-message v-bind:attr="'userKey'"></server-error-message>
                        </div>
                        <!-- Checkbox -->
                        <div class="d-lg-flex justify-content-between align-items-center mb-4">
                            <div class="form-check custom-checkbox">
                                <input type="checkbox" class="form-check-input" id="rememberme">
                                <label class="form-check-label" for="rememberme">記住此帳號</label>
                            </div>
                        </div>
                        <div>
                            <!-- Button -->
                            <div class="d-grid">
                                
                                <p-button label="Sign in" type="submit" v-bind:loading="loading"
                                          v-bind:disabled="Object.keys(errors).length !== 0 || !this.$common.CheckValueOfObjectIsNotEmpty(values)">
                                </p-button>
                            </div>
                        </div>
                    </v-form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
@section Vue
{
    import { PostSignin } from '@settings.Value.Urls.BaseUrl/StaticFiles/Vue/Services/IpassService.js'
    const app = Vue.createApp({
        components: {
            'pButton': primevue.button,
        },
        data: function () {
            return {
                modelStateError: {},
                signinViewModel: {},
                loading: false
            }
        },
        methods: {
            SignIn: async function () {
                try {
                    this.loading = true;
                    const response = await PostSignin(this.signinViewModel).then(response => response);
                    const status = response.status;
                    if (status === 200) {
                        const responseData = response.data;
                        const status = this.$common.ChangeReturnCode(responseData.rtnCode);
                        switch (responseData.rtnCode) {
                            case 200:
                                let baseURL = window.baseURL;
                                window.location.href = `${baseURL}`;
                                break;
                            case 401:
                                if (typeof(responseData.rtnData) === 'string') {
                                    this.modelStateError = JSON.parse(responseData.rtnData);
                                }
                                this.$emitter.emit('ServerErrorMessages', this.modelStateError);
                                break;
                            default:
                                this.$toast.add({ severity: status, summary: responseData.rtnMessage, detail: responseData.rtnData, life: 5000, group: 'signin-laoout' });
                                break;
                        }
                    }
                    this.loading = false
                }
                catch (exception) {
                    console.log(exception);
                    this.loading = false
                }
            }
        }
    })
}
</script>
