@{
    ViewData["Title"] = "類別編輯";
}
<div class="row p-3 justify-content-center">
    <div class="p-toolbar p-component w-98 mb-2">
        <div class="p-toolbar-group-left">
            <p-button label="新增類別" icon="pi pi-plus" class="p-button-success p-mr-2" v-on:click="OpenEditFuncClassModal"></p-button>
        </div>
        <div class="p-toolbar-group-right">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" class="p-inputtext p-component p-filled"
                       v-model="filtersFuncClass['global'].value" placeholder="搜索" />
            </span>
        </div>
    </div>
    <p-datatable v-bind:value="funcClasss" show-gridlines striped-rows responsive-layout="scroll" v-bind:paginator="true" v-bind:rows="10"
                 paginator-template="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
                 v-bind:rows-per-page-options="[10,20,50]" current-page-report-template="顯示第 {first} 至 {last} 項結果 ，共  {totalRecords}項"
                 v-model:selection="selectedFuncClass" selection-mode="single" data-key="FuncClassCode"
                 v-bind:resizable-columns="true" column-resize-mode="fit"
                 v-bind:scrollable="true" scroll-height="58vh"
                 v-bind:global-filter-fields="['FuncClassEnName','FuncClassChName']"
                 v-model:filters="filtersFuncClass" filter-display="menu">
        <p-column field="FuncClassEnName" header="英文名稱"></p-column>
        <p-column field="FuncClassChName" header="中文名稱"></p-column>
        <p-column style="min-width:8rem" class="d-flex justify-content-center">
            <template #body="slotProps">
                <p-button icon="pi pi-pencil" class="p-button-rounded p-button-success me-1" v-tooltip.top="'編輯類別'"></p-button>
            </template>
        </p-column>
        <template #empty>
            查無相關類別資訊
        </template>
        <template #paginatorstart>
            <p-button type="button" icon="pi pi-refresh" class="p-button-text"></p-button>
        </template>
        <template #paginatorend>
            <p-button type="button" icon="pi pi-cloud" class="p-button-text"></p-button>
        </template>
    </p-datatable>
</div>

<edit-func-class-modal ref="editFuncClass" v-bind:func-class="funcClass" v-bind:is-new="isNew" 
                       v-on:save="SaveClass" v-bind:model-state-error="modelStateError" ></edit-func-class-modal>

<script type="text/javascript">
    @section Vue
    {
        const { FilterMatchMode } = primevue.api;
        import {
        GetListOfFuncClass, PostFuncClass
        } from '/StaticFiles/Vue/Services/IpassService.js'
        import EditFuncClassModal from '/StaticFiles/Vue/Components/EditFuncClassModal.js'
        const app = Vue.createApp({
            components: {
                "p-datatable": primevue.datatable,
                "p-column": primevue.column,
                "p-button": primevue.button,
                "p-toolbar": primevue.toolbar,
                EditFuncClassModal
            },
            data: function () {
                return {
                    funcClasss: [],
                    selectedFuncClass: {},
                    filtersFuncClass: null,
                    funcClass: {},
                    isNew: true,
                    modelStateError: {}
                }
            },
            created: function () {
                this.GetListOfFunction();
                this.InitFilters();
            },
            methods: {
                OpenEditFuncClassModal: function (isNew = true, classCode = '') {
                    this.isNew = isNew;
                    this.modelStateError = {};
                    if (isNew) {
                        this.funcClass = {};
                    }
                    else {
                        
                    }
                    this.$refs.editFuncClass.Show();
                },
                GetListOfFunction: async function () {
                    try {
                        const response = await GetListOfFuncClass().then(response => response);
                        const status = response.status;
                        if (status === 200) {
                            const data = response.data;
                            const code = data.RtnCode;
                            switch (code) {
                                case 200:
                                    this.funcClasss = data.RtnData;
                                    break;
                                default:
                                    break;
                            }
                        }
                    }
                    catch (exception) {
                        console.log(exception);
                    }
                },
                InitFilters: function () {
                    this.filtersFuncClass = {
                        'global': { value: null, matchMode: FilterMatchMode.CONTAINS },
                    }
                },
                SaveClass: async function (value) {
                    let response = null;
                    if (this.isNew) {
                        response = await PostFuncClass(value).then(response => response);
                    } else {

                    }
                    const status = response.status;
                    if (status === 200) {
                        const responseData = response.data;
                        const code = responseData.RtnCode;
                        const status = this.$common.ChangeReturnCode(code);
                        switch (code) {
                            case 200:
                                this.$refs.editFuncClass.Close();
                                this.funcClass = {};
                                this.$toast.add({ severity: status, summary: responseData.RtnMessage, detail: responseData.RtnData, life: 5000, group: 'backend-laoout' });
                                this.GetListOfFunction();
                                break;
                            case 401:
                                if (typeof (responseData.RtnData) === 'string') {
                                    this.modelStateError = JSON.parse(responseData.RtnData);
                                }
                                this.$emitter.emit('ServerErrorMessages', this.modelStateError);
                                break;
                            case 405:
                                this.$toast.add({ severity: status, summary: responseData.RtnMessage, detail: responseData.RtnData, life: 5000, group: 'backend-laoout' });
                                break;
                            default:
                                break;
                        }
                    }
                },

            }
         })
    }
</script>
