@{
    ViewData["Title"] = "業務列表";
}
<div class="row p-3 justify-content-center">
    <p-toolbar class="w-98 mb-3">
        @*<template #start>
            <button type="button" class="btn btn-advanced fs-5">
                <i class="bi bi-plus"></i>新增
            </button>
        </template>*@
        <template #start>
            <p-button label="New" icon="pi pi-plus" class="p-button-success p-mr-2"></p-button>
            <p-button label="Delete" icon="pi pi-trash" class="p-button-danger"></p-button>
        </template>
    </p-toolbar>
    <p-datatable v-bind:value="businesses" show-gridlines striped-rows responsive-layout="scroll" v-bind:paginator="true" v-bind:rows="10"
                 paginator-template="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
                 v-bind:rows-per-page-options="[10,20,50]" current-page-report-template="Showing {first} to {last} of {totalRecords}"
                 v-model:selection="selectedBusinesse" selection-mode="single" data-key="UserId"
                 v-bind:resizable-columns="true" column-resize-mode="fit">
        <p-column field="UserId" header="帳號"></p-column>
        <p-column field="Email" header="電子信箱"></p-column>
        <p-column field="Role" header="業務"></p-column>
        <p-column field="Status" header="帳號狀態"></p-column>
        <p-column field="LastModifier" header="最後修改使用者"></p-column>
        <p-column field="LastModifyDate" header="最後修改時間"></p-column>
        <p-column field="LastLoginDate" header="最後登入時間"></p-column>
        <p-column field="LastChangePwdDate" header="最後更改密碼時間"></p-column>
        <p-column style="min-width:8rem">
            <template #body="slotProps">
                <p-button icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" v-on:click="editProduct(slotProps.data)"></p-button>
                <p-button icon="pi pi-trash" class="p-button-rounded p-button-warning" v-on:click="confirmDeleteProduct(slotProps.data)"></p-button>
            </template>
        </p-column>
        <template #paginatorstart>
            <p-button type="button" icon="pi pi-refresh" class="p-button-text"></p-button>
        </template>
        <template #paginatorend>
            <p-button type="button" icon="pi pi-cloud" class="p-button-text"></p-button>
        </template>
    </p-datatable>
</div>

<script type="text/javascript">
    @section Vue
    {
        import { GetUsersByRole } from '/StaticFiles/Vue/Services/IpassService.js'

         const app = Vue.createApp({
            components: {
                 "p-datatable": primevue.datatable,
                 "p-column": primevue.column,
                 "p-button": primevue.button,
                 "p-toolbar": primevue.toolbar
            },
            data: function () {
                return {
                    businesses: [],
                    selectedBusinesse: {}
                }
             },
             created: function () {
                this.GetBusinesses();
             },
             mounted: function () {

             },
             methods: {
                GetBusinesses: function () {
                     try {
                         const data = {
                             params: {
                                 role: 'Manager'
                             }
                         };
                         GetUsersByRole(data)
                             .then((response) => {
                                const data = response.data;
                                const code = data.RtnCode;
                                switch (code) {
                                    case 200:
                                        this.businesses = data.RtnData;
                                        break;
                                    default:
                                        break;
                                    }
                                })
                                .catch((error) => {
                                    alert('取得資料有誤');
                                    throw new Error(error);
                                })
                    }
                    catch (exception) {
                        console.log(exception)
                    }

                 },
                 editProduct: function (prod) {
                     console.log(prod);
                 }
            }
         })
    }
</script>
