@{
    ViewData["Title"] = "公司管理";
}

@section Style
{
    <style>
        .p-column-header-content {
            justify-content: center;
        }
    </style>
}

<div class="row p-3 justify-content-center">
    <div class="px-3">
        <div class="p-toolbar p-component w-100 mb-2">
            <div class="p-toolbar-group-left">
                <div class="d-flex">
                    <div class="col me-1">
                        <input type="text" class="p-inputtext p-component" name="customerName" autocomplete="off" placeholder="請輸入公司名稱即可新增"
                                v-model.trim="addCustomerViewModel.customerName" />
                    </div>
                    <div class="col">
                        <p-button label="新增" icon="pi pi-plus" class="p-mr-1" v-on:click="PostCutsomterSave" v-bind:loading="loading"></p-button>
                    </div>
                </div>
            </div>
            <div class="p-toolbar-group-right">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input type="text" class="p-inputtext p-component p-filled"
                            placeholder="搜尋" v-model.trim="filtersSearch['global'].value" />
                </span>
            </div>
        </div>
    </div>
    <p-datatable v-bind:value="customers" edit-mode="row" data-key="customerId"
                    show-gridlines striped-rows responsive-layout="scroll"
                    v-bind:paginator="true" v-bind:rows="10" paginator-template="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
                    v-bind:rows-per-page-options="[10,20,50]" current-page-report-template="顯示第 {first} 至 {last} 項結果 ，共  {totalRecords}項"
                    v-model:editing-rows="editingRows" v-on:row-edit-save="RowEditSave"
                    v-bind:global-filter-fields="['customerName']"
                    v-model:filters="filtersSearch" filter-display="menu">
        <p-column field="customerName" header="公司名稱" body-style="text-align:center">
            <template #editor="{ data, field }">
                <input type="text" class="p-inputtext p-component form-control" v-model="data[field]" autofocus />
            </template>
        </p-column>
        <p-column v-bind:row-editor="true" style="width:10%; min-width:8rem" body-style="text-align:center"></p-column>
        <template #empty>
            查無相關公司資訊
        </template>
        <template #paginatorstart>
            <p-button type="button" icon="pi pi-refresh" class="p-button-text"></p-button>
        </template>
        <template #paginatorend>
            <p-button type="button" icon="pi pi-cloud" class="p-button-text"></p-button>
        </template>
    </p-datatable>
</div>


<script type="text/javascript">
@section Vue
{
    import {
        GetCustomers, PostCustomer, UpdateCustomer
    } from '@settings.Value.Urls.BaseUrl/StaticFiles/Vue/Services/IpassService.js'
    import dataTableMixins from '@settings.Value.Urls.BaseUrl/StaticFiles/Vue/Mixins/DataTableMixins.js'

    const app = Vue.createApp({
        mixins: [dataTableMixins],
        data: function () {
            return {
                customers:[],
                editingRows: [],
                addCustomerViewModel: {
                    customerName: ''
                },
                modelStateError: {},
                loading: false,
                blockedPanel: false
            }
        },
        created: function () {
            this.GetCustomers();
        },
        methods: {
            RowEditSave: function (event) {
                let { newData } = event;
                if (newData.customerName === '') {
                    this.$toast.add({ severity: 'error', summary: '驗證失敗', detail: '公司名稱為必輸', life: 5000, group: 'backend-laoout' });
                    return;
                }
                try {
                    this.$confirm.require({
                        message: '請問確定要修改此公司嗎?',
                        header: '修改公司',
                        icon: 'pi pi-info-circle',
                        position: 'top',
                        accept: async () => {
                            const response = await UpdateCustomer(newData).then(response => response);
                            const status = response.status;
                            if (status === 200) {
                                const responseData = response.data;
                                const code = responseData.rtnCode;
                                const status = this.$common.ChangeReturnCode(code);
                                switch (code) {
                                    case 200:
                                        this.modelStateError = {};
                                        this.$toast.add({ severity: status, summary: responseData.rtnMessage, detail: responseData.rtnData, life: 5000, group: 'backend-laoout' });
                                        this.GetCustomers();
                                        break;
                                    case 401:
                                        if (typeof (responseData.rtnData) === 'string') {
                                            this.modelStateError = JSON.parse(responseData.rtnData);
                                        }
                                        let errorMessage = '';
                                        for (let key in this.modelStateError) {
                                            errorMessage += this.modelStateError[key].join('\n');
                                        }
                                        this.$toast.add({ severity: status, summary: '驗證失敗', detail: errorMessage, life: 5000, group: 'backend-laoout' });
                                        break;
                                    default:
                                        this.$toast.add({ severity: status, summary: responseData.rtnMessage, detail: responseData.rtnData, life: 5000, group: 'backend-laoout' });
                                        break;
                                }
                            }
                        },
                        reject: () => {

                        }
                    });
                }
                catch (exception) {
                    console.log(exception);
                }
            },
            PostCutsomterSave: function () {
                try {
                    if (this.addCustomerViewModel.customerName === '') {
                        this.$toast.add({ severity: 'error', summary: '驗證失敗', detail: '公司名稱為必輸', life: 5000, group: 'backend-laoout' });
                        return;
                    }
                    this.$confirm.require({
                        message: '請問確定要新增此公司嗎?',
                        header: '新增公司 ',
                        icon: 'pi pi-info-circle',
                        position: 'top',
                        accept: async () => {
                            this.loading = true;
                            const response = await PostCustomer(this.addCustomerViewModel).then(response => response);
                            const status = response.status;
                            if (status === 200) {
                                const responseData = response.data;
                                const code = responseData.rtnCode;
                                const status = this.$common.ChangeReturnCode(code);
                                switch (code) {
                                    case 200:
                                        this.addCustomerViewModel = {
                                            customerName: ''
                                        };
                                        this.modelStateError = {};
                                        this.$toast.add({ severity: status, summary: responseData.rtnMessage, detail: responseData.rtnData, life: 5000, group: 'backend-laoout' });
                                        this.GetCustomers();
                                        break;
                                    case 401:
                                        if (typeof (responseData.rtnData) === 'string') {
                                            this.modelStateError = JSON.parse(responseData.rtnData);
                                        }
                                        let errorMessage = '';
                                        for (let key in this.modelStateError) {
                                            errorMessage += this.modelStateError[key].join('\n');
                                        }
                                        this.$toast.add({ severity: status, summary: '驗證失敗', detail: errorMessage, life: 5000, group: 'backend-laoout' });
                                        break;
                                    default:
                                        this.modelStateError = {};
                                        this.$toast.add({ severity: status, summary: responseData.rtnMessage, detail: responseData.rtnData, life: 5000, group: 'backend-laoout' });
                                        break;
                                }
                            }
                            this.loading = false;
                        },
                        reject: () => {

                        }
                    });
                }
                catch (exception) {
                    console.log(exception);
                    this.loading = false;
                }

            },
            GetCustomers: async function () {
                try {
                    const response = await GetCustomers().then(response => response);
                    const status = response.status;
                    if (status === 200) {
                        const data = response.data;
                        const code = data.rtnCode;
                        switch (code) {
                            case 200:
                                if (data.rtnData.length > 0) {
                                    this.customers = data.rtnData;
                                }
                                break;
                            default:
                                break;
                        }
                    }
                }
                catch (exception) {
                    console.log(exception);
                }
            }
        }
    })

}
</script>