@{
    ViewData["Title"] = "交易紀錄";
}

<div class="row p-3 justify-content-center">
    <div class="col-12 w-98 mb-2">
        <div class="p-toolbar p-component p-mb-4 row">
            <div class="col-12 mb-2">
                <div class="row">
                    <div class="col-12">
                        <div class="border-bottom-gray mb-3">常用類型</div>
                    </div>
                    <div class="col-12 col-xl-4 mb-2">
                        <div class="p-float-label d-inline-block mb-xl-2">
                            <p-calendar id="startDate" v-bind:show-icon="true" v-model="startDate" date-format="yy/mm/dd" v-bind:show-time="true"></p-calendar>
                            <label for="startDate">開始日期</label>
                        </div>
                        <span>～</span>
                        <div class="p-float-label p-mr-2 d-inline-block">
                            <p-calendar id="endDate" v-bind:show-icon="true" v-model="endDate" date-format="yy/mm/dd" v-bind:show-time="true"></p-calendar>
                            <label for="endDate">結束日期</label>
                        </div>
                    </div>
                    <div class="col-12 col-xl-4 mb-2">
                        <span class="p-buttonset">
                            <p-button label="今天"></p-button>
                            <p-button label="昨天"></p-button>
                            <p-button label="上週"></p-button>
                            <p-button label="上月"></p-button>
                        </span>
                    </div>
                    <div class="col-6 col-xl-4 mb-2">
                        <input type="text" class="p-inputtext p-component form-control" placeholder="訂單編號" />
                    </div>
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="row">
                    <div class="col-12">
                        <div class="border-bottom-gray mb-3">會員類型</div>
                    </div>
                    <div class="col-6 col-xl-4 mb-2 mb-xl-0">
                        <input type="text" class="p-inputtext p-component form-control" placeholder="會員姓名" />
                    </div>
                    <div class="col-6  col-xl-4 mb-2 mb-xl-0">
                        <input type="text" class="p-inputtext p-component form-control" placeholder="會員手機號碼" />
                    </div>
                    <div class="col-6  col-xl-4">
                        <input type="text" class="p-inputtext p-component form-control" placeholder="會員手機Email" />
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row justify-content-end">
                    <div class="text-end">
                        <p-button label="查詢" icon="pi pi-search" class="p-button-success p-mr-1" v-bind:loading="loading"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <p-datatable v-bind:value="orders" show-gridlines striped-rows responsive-layout="scroll" v-bind:paginator="true" v-bind:rows="10"
                        paginator-template="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
                        v-bind:rows-per-page-options="[10,20,50]" current-page-report-template="顯示第 {first} 至 {last} 項結果 ，共  {totalRecords}項"
                        v-model:selection="selectedStore" selection-mode="single" data-key="orderNo"
                        v-bind:resizable-columns="true" column-resize-mode="fit">
            <p-column v-for="(col,index) in columnsDefs" v-bind:key="col.field" v-bind:field="col.field" v-bind:header="col.header">
            </p-column>
            <template #empty>
                查無相關訂單資訊
            </template>
            <template #paginatorstart>
                <p-button type="button" icon="pi pi-refresh" class="p-button-text"></p-button>
            </template>
            <template #paginatorend>
                <p-button type="button" icon="pi pi-cloud" class="p-button-text"></p-button>
            </template>
        </p-datatable>
    </div>
    <div class="col-4">
        <p-card style="margin-bottom: 2em">
            <template #title>
                123456798
            </template>
            <template #content>
                <p-scrollpanel style="width: 100%; height: 400px" class="custombar1">
                    <div class="p-fluid">
                        <div class="p-field mb-2 border-bottom-gray">
                            <h5 class="transaction-title">手機號碼</h5>
                            <label for="firstname">0978822811</label>
                        </div>
                        <div class="p-field mb-2 border-bottom-gray">
                            <h5 class="transaction-title">訂單狀態</h5>
                            <label for="lastname">授權</label>
                        </div>
                        <div class="p-field mb-2 border-bottom-gray">
                            <h5 class="transaction-title">付款狀態</h5>
                            <label for="lastname">未付款</label>
                        </div>
                        <div class="p-field mb-2 border-bottom-gray">
                            <h5 class="transaction-title">交易金額</h5>
                            <label for="lastname">1000</label>
                        </div>
                        <div class="p-field mb-2 border-bottom-gray">
                            <h5 class="transaction-title">交易日期</h5>
                            <label for="lastname">2022/1/13</label>
                        </div>
                        <div class="p-field mb-2 border-bottom-gray">
                            <h5 class="transaction-title">取消日期</h5>
                            <label for="lastname">2022/1/13</label>
                        </div>
                        <div class="p-field mb-2 border-bottom-gray">
                            <h5 class="transaction-title">退貨日期</h5>
                            <label for="lastname">2022/1/13</label>
                        </div>
                        <div class="p-field mb-2 border-bottom-gray">
                            <h5 class="transaction-title">訂單描述</h5>
                            <label for="lastname">鞋子</label>
                        </div>
                    </div>
                </p-scrollpanel>
            </template>
        </p-card>
    </div>
</div>

<script>
@section Vue
{
    const app = Vue.createApp({
        components: {
            "p-toolbar": primevue.toolbar,
            "p-calendar": primevue.calendar,
            "p-datatable": primevue.datatable,
            "p-column": primevue.column,
            "p-scrollpanel": primevue.scrollpanel,
            "p-card": primevue.card
        },
        data: function () {        
            return {
                startDate: null,
                endDate: null,
                orders: [
                    {
                        "orderNo": "123456798",
                        "phone": "0978822811",
                        "authAmount": 1000,
                        "authDate": "2022/1/13",
                        "orderStatus":"授權"
                    }
                ],
                columnsDefs:[]
            }
        },
        created: function () {
            this.columnsDefs = [
                { field: 'orderNo', header: '訂單號碼' },
                { field: 'phone', header: '手機' },
                { field: 'authAmount', header: '交易金額' },
                { field: 'authDate', header: '交易日期' },
                { field: 'orderStatus', header: '訂單狀態' }
            ];
        },
    })
}
</script>