<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GodPay_CMS</title>
    <link href="~/css/bundle.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GodPay_CMS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3" id="app">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - GodPay_CMS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @if (env.IsDevelopment())
    {
        <script src="~/lib/vue/vue.global.js"></script>

    }
    else
    {
        <script src="~/lib/vue/vue.global.prod.js"></script>
    }
    <script src="~/lib/vee-validate/vee-validate.min.js"></script>
    <script src="~/lib/vee-validate/rules/dist/vee-validate-rules.min.js"></script>
    <script src="~/lib/vee-validate/i18n/dist/vee-validate-i18n.min.js"></script>
    <script src="~/ag-grid/ag-grid-community.js"></script>
    <script src="~/ag-grid/ag-grid-vue3.umd.js"></script>
    <script src="~/lib/mitt/dist/mitt.umd.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/lib/axios/axios.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="module">
        // Vue進入點
        @RenderSection("Vue", required: false)

        // 全域註冊vue method
        const emitter = mitt();
        app.config.globalProperties.emitter = emitter;

        // 全域註冊Component
        app.component('VForm', VeeValidate.Form);
        app.component('VField', VeeValidate.Field);
        app.component('ErrorMessage', VeeValidate.ErrorMessage);

        // 驗證規則
        Object.keys(VeeValidateRules).forEach(rule => {
            if (rule !== 'default') {
                VeeValidate.defineRule(rule, VeeValidateRules[rule]);
            }
        });
        // 多國語系
        VeeValidateI18n.loadLocaleFromURL('/lib/vee-validate/i18n/dist/locale/zh_TW.json');
        // 配置
        VeeValidate.configure({
            generateMessage: VeeValidateI18n.localize('zh_TW'),
            validateOnInput: true, // 調整為輸入字元立即進行驗證
        });

        app.mount('#app');
    </script>
    
</body>
</html>
